.top-section-area {
  background-color: #7bb640;
}
.primary-btn {
  background: #7bb640;
}
.information-area .owl-dot.active {
  background: #7bb640;
}
.single-about-feature:hover {
  background-color: #7bb640;
}
.single-testimonial h4 {
  color: #7bb640;
}
